  
/* Extra Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 20px !important;
    }
    h3{
        font-size: 18px !important;
    }
    header{
        height: 300px !important;
    }
    .head-disc p{
        font-size: 14px !important;
        line-height: 24px !important;
    }
 }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)  { 
    h1{
        font-size: 40px !important;
    }
    h2{
        font-size: 20px !important;
    }
    h3{
        font-size: 18px !important;
    }
    header{
        height: 300px !important;
    }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 50px !important;
    }
    h2{
        font-size: 24px !important;
    }
    h3{
        font-size: 20px !important;
    }
    header{
        height: 350px !important;
    }
    .head-disc p{
        font-size: 16px !important;
    }
    .li-color{
        font-size: 16px !important;
    }

 }
